#c1{

    margin-top: 25px;


}
#screen{

    margin-top: 25px;

    width: 500px;

}
#choose{
    margin-top: 35px;

    width: 500px;
    height: 245px;

    background-color: #56baed;
    overflow: scroll;

}
#history{

    margin-top: 25px;

    width: 200px;
    height: 310px;

    background-color: brown;
    overflow: scroll;
}
body{
    background-color:gray;
}

